# Django
Django==3.1.8

# Decouple
python-decouple==3.4

# Heroku
dj-database-url==0.5.0
django-heroku==0.3.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
gunicorn==20.0.4

# Images
Pillow==8.1.2

# Cloudinary
dj3-cloudinary-storage==0.0.3

# Bling
pybling==0.0.9

# Sentry
sentry-sdk==1.0.0

# Crispy Forms
django-crispy-forms==1.11.1

# Quandl
quandl==3.6.1

# Bulk Changes in Admin
django-mass-edit==3.2.0

# Excel for reports
xlwt==1.3.0

# PDF
xhtml2pdf==0.2.5

# Loggin
django-simple-history==2.12.0

# Analytics
django-analytical==3.0.0
