# Flake8
entrypoints==0.3
flake8==3.8.2
mccabe==0.6.1

# CodeStyle
pycodestyle==2.6.0
pyflakes==2.2.0

# DebugToolbar
django-debug-toolbar==2.2
sqlparse==0.4.0

# Coverage
coverage==5.1

# responses
responses==0.10.14

-r requirements.txt
