# Flake8
entrypoints==0.3
flake8==3.7.8
mccabe==0.6.1

# CodeStyle
pycodestyle==2.5.0
pyflakes==2.1.1

# DebugToolbar
django-debug-toolbar==2.0
sqlparse==0.3.0

# Coverage
coverage==4.5.3

# responses
responses==0.10.6

-r requirements.txt
