# Flake8
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1

# CodeStyle
pycodestyle==2.5.0
pyflakes==2.2.0

# DebugToolbar
django-debug-toolbar==2.2
sqlparse==0.3.1

# Coverage
coverage==5.0.3

# responses
responses==0.10.12

-r requirements.txt
