# Django
Django==3.0.5
asgiref==3.2.7
pytz==2019.3

# Decouple
python-decouple==3.3
python-dotenv==0.12.0

# Heroku
dj-database-url==0.5.0
django-heroku==0.3.1
psycopg2==2.8.5
psycopg2-binary==2.8.5
whitenoise==5.1.0
gunicorn==20.0.4

# Images
Pillow==7.1.1

# Cloudinary
certifi==2020.4.5.1
chardet==3.0.4
cloudinary==1.20.0
dj3-cloudinary-storage==0.0.1
idna==2.9
mock==4.0.2
pbr==5.4.5
requests==2.23.0
six==1.14.0
urllib3==1.25.8

# Bling
pybling==0.0.9

# Sentry
sentry-sdk==0.14.3

# Crispy Forms
django-crispy-forms==1.9.0

# Quandl
inflection==0.4.0
more-itertools==8.2.0
numpy==1.18.2
pandas==1.0.3
python-dateutil==2.8.1
quandl==3.5.0

# Bulk Changes in Admin
django-mass-edit==3.2.0

# Excel for reports
xlwt==1.3.0

# PDF
html5lib==1.0.1
pyPdf2==1.26.0
reportlab==3.5.42
webencodings==0.5.1
xhtml2pdf==0.2.4

# Loggin
django-simple-history==2.8.0
