{% extends "base.html" %}
{% load static %}

{% block title %}Adiciona Produto - S.I.E.{% endblock %}
{% block page-title %}Produto{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Produtos</a></li>
  <li class="breadcrumb-item active"><span>Adicionar</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">
    <div class="panel">
      <!-- Records Header Start -->
      <div class="records--header">
        <div class="title fa-shopping-bag">
          <h3 class="h3">Produtos <a href="{% url 'product_list' %}" class="btn btn-sm btn-outline-info">Ver tudo</a>
          </h3>
        </div>
      </div>
      <!-- Records Header End -->
    </div>

    <div class="panel">
      <!-- Edit Product Start -->
      <div class="records--body">
        <div class="title">
          <h6 class="h6">Dados do produto</h6>

          {% if form.errors %}
            {{ form.errors }}
          {% endif %}

          {% if messages %}
            {% for message in messages %}
              <div class="card-panel amber lighten-4">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <a href="{% url 'product_list' %}" class="btn btn-rounded btn-danger">Cancelar</a>
        </div>
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- Tabs Nav Start -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#tab01" data-toggle="tab" class="nav-link active">Adicionar produto</a>
            </li>
          </ul>
          <!-- Tabs Nav End -->

          <!-- Tab Content Start -->
          <div class="tab-content">
            <!-- Tab Pane Start -->
            <div class="tab-pane fade show active" id="tab01">
              <div class="form-group row">
                <span class="label-text col-md-2 col-form-label">Código no Bling:</span>

                <div class="col-md-10">
                  <input type="text" name="codigo_do_bling" class="form-control" required="" id="codigo_do_bling">
                </div>
              </div>
            </div>
            <!-- Tab Pane End -->
          </div>
          <!-- Tab Content End -->
          <div class="row mt-3">
            <div class="col-md-12">
              <input type="submit" value="Buscar" class="btn btn-rounded btn-success">
            </div>
          </div>
        </form>
      </div>
      <!-- Edit Product End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}
