{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %}Dashboard - S.I.E.{% endblock %}
{% block page-title %}Produtos{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item active"><span>Produtos</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">
    <div class="panel">
      <!-- Records Header Start -->
      <div class="records--header">
        <div class="title fa-shopping-bag">
          <h3 class="h3">Produtos</h3>
          <p>{{ total_str }}</p>
        </div>

        <div class="actions">
          <form action="#" class="search flex-wrap flex-md-nowrap">
              <input id="txtSearch" type="text" class="form-control" placeholder="Produto...">
              <button type="submit" class="btn btn-rounded" disabled><i class="fa fa-search"></i></button>
          </form>
          {% if request.user|has_group:"Gerente" %}
            <a href="{% url 'product_add' %}" class="addProduct btn btn-lg btn-rounded btn-warning">Adicionar</a>
          {% endif %}
        </div>
      </div>
      <!-- Records Header End -->
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="panel">
      <!-- Records List Start -->
      <div class="records--list" data-title="Listagem de Produtos">
        <table id="recordsListView">
          <thead>
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            {% if request.user|has_group:"Gerente" %}
            <th>Un. em Dolar</th>
            <th>Status</th>
            {% else %}
              <th>Adicionar</th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for produto in produtos %}
          <tr>
            <td>
              {% if request.user|has_group:"Gerente" %}
                <a href="{% url 'product_update' codigo=produto.codigo %}" class="btn-link">{{ produto.codigo }}</a>
              {% else %}
                {{ produto.codigo }}
              {% endif %}
            </td>
            <td>
              {{ produto.descricao }}
            </td>
            <td>
              R$ {{ produto.cliente_paga }}
            </td>
            {% if request.user|has_group:"Gerente" %}
            <td>
              USD {{ produto.unitario_em_dolar }}
            </td>
            <td>
              {% if produto.active %}
                <span class="label label-success">Ativo</span>
              {% else %}
                <span class="label label-warning">Inativo</span>
              {% endif %}
            </td>
            {% else %}
            <td>
              <a href="{% url 'pedido_add_item' codigo=produto.codigo %}" class="btn btn-success btn-sm"><i class="fa mr-2 fa-cart-plus"></i> Adicionar</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Records List End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}

{% block extra_scripts %}
  <script type="application/javascript">
    $.extend(true, $.fn.dataTable.defaults, {
      "oLanguage": {
        "sEmptyTable": "Nenhum registro encontrado.",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
          "sNext": "Próximo",
          "sPrevious": "Anterior",
          "sFirst": "Primeiro",
          "sLast": "Último"
        },
        "oAria": {
          "sSortAscending": ": Ordenar colunas de forma ascendente",
          "sSortDescending": ": Ordenar colunas de forma descendente"
        }
      }
    });
    $(document).ready(function () {
      $('#recordsListView').DataTable();

      $('#recordsListView_filter').hide(); // Hide default search datatables where example is the ID of table

        $('#txtSearch').on('keyup', function() {
            $('#recordsListView')
                .DataTable()
                .search($('#txtSearch').val(), false, true)
                .draw();
        });
    });
  </script>
{% endblock %}
