{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %}Dashboard - S.I.E.{% endblock %}
{% block page-title %}Máquinas{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item active"><span>Produtos</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">
    <div class="panel">
      <!-- Records Header Start -->
      <div class="records--header">
        <div class="title fa-shopping-bag">
          <h3 class="h3">Produtos</h3>
          <p>{{ total_str }}</p>
        </div>

        <div class="actions">
          {% if request.user|has_group:"Gerente" %}
            <a href="{% url 'product_add' %}" class="addProduct btn btn-lg btn-rounded btn-warning">Adicionar</a>
          {% endif %}
        </div>
      </div>
      <!-- Records Header End -->
    </div>

    <div class="panel">
      <!-- Records List Start -->
      <div class="records--list" data-title="Product Listing">
        <table id="recordsListView">
          <thead>
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Un. em Dolar</th>
          </tr>
          </thead>
          <tbody>
          {% for produto in produtos %}
          <tr>
            <td>
              {% if request.user|has_group:"Gerente" %}
                <a href="{% url 'product_update' codigo=produto.codigo %}" class="btn-link">{{ produto.codigo }}</a>
              {% else %}
                {{ produto.codigo }}
              {% endif %}
            </td>
            <td>
              {{ produto.descricao }}
            </td>
            <td>
              R$ {{ produto.cliente_paga }}
            </td>
            <td>
              USD {{ produto.unitario_em_dolar }}
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Records List End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}
