{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %}Lista de Espera - S.I.E.{% endblock %}
{% block page-title %}Lista de espera{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'pedidos_list' %}">Pedidos</a>
  </li>
  <li class="breadcrumb-item active"><span>Lista de espera</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">

    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if formset.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ formset.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="panel">
      {% if waitinglist_items.count == 0 %}
        <!-- Records Header Start -->
        <div class="records--header">
          <div class="title fa-shopping-bag">
            <h3 class="h3">Sua lista está vazia</h3>
          </div>
        </div>
        <!-- Records Header End -->
      {% else %}
        <!-- Records Header Start -->
        <div class="records--header">
          <div class="title fa-shopping-bag">
            <h3 class="h3">Lista de espera</h3>
            <p>Você será avisado quando algum produto da lista estiver disponível para compra.</p>
          </div>
        </div>
        <!-- Records Header End -->

        <!-- Invoice Start -->
        <div class="invoice">
        <div class="invoice--order">
        <table class="table">
          <thead>
          <tr>
            <th style="width: 10%;">Código</th>
            <th style="width: 80%;">Produto</th>
            <th style="text-align: center; width: 10%;">Remover</th>
          </tr>
          </thead>
          <tbody>
          {% for item in waitinglist_items %}
            <tr>
              <td>{{ item.produto.codigo }}</td>
              <td>{{ item.produto.descricao }}</td>
              <td style="text-align: center;">
                <a href="{% url 'remove_from_waitinglist' codigo=item.produto.codigo %}" class="btn btn-warning btn-sm"><i class="fa mr-2 fa-trash"></i> Remover</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
      </div>

      <div class="invoice--footer">
        <div class="invoice--actions">
          <a href="{% url 'product_list' %}" class="btn btn-rounded btn-info">Ver produtos</a>
        </div>
      </div>
      </div>
      <!-- Invoice End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}
