{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %}Pedido em aberto - S.I.E.{% endblock %}
{% block page-title %}Pedido{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="#">Pedidos</a></li>
  <li class="breadcrumb-item active"><span>Atualizar</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">

    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if formset.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ formset.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="panel">
      <!-- Invoice Start -->
      <div class="invoice">
        <div class="invoice--order">
          <form action="{% url 'pedido_aberto' %}" method="POST">
            {% csrf_token %}

            {{ formset.management_form }}
            <table class="table">
              <thead>
              <tr>
                <th style="width: 40%;">Produto</th>
                <th style="text-align: center; width: 10%;">Quantidade</th>
                <th style="text-align: right; width: 20%;">Valor Un.</th>
                <th style="text-align: right; width: 20%;">Valor Total</th>
                <th style="text-align: center; width: 10%;">Remover</th>
              </tr>
              </thead>
              <tbody>
              {% for item_pedido_form in formset %}
                <tr>
                  {{ item_pedido_form.id }}{{ item_pedido_form.item }}
                  {% if item_pedido_form.instance.atacado == True %}
                    <td>{{ item_pedido_form.instance.item }} <span class="label label-blue">Atacado</span></td>
                    <td style="text-align: center;">{{ item_pedido_form.instance.quantidade }} <div style="display: none">{{ item_pedido_form.quantidade }}</div> </td>
                  {% else %}
                    <td>{{ item_pedido_form.instance.item }}</td>
                    <td style="text-align: center;">{{ item_pedido_form.quantidade }}</td>
                  {% endif %}
                  <td style="text-align: right;">{{ item_pedido_form.instance.valor_unitario|currency_display }}</td>
                  <td style="text-align: right;">{{ item_pedido_form.instance.valor_unitario|subtotal:item_pedido_form.instance.quantidade|currency_display }}</td>
                  <td style="text-align: center;">{{ item_pedido_form.DELETE }}</td>
                </tr>
              {% endfor %}
              <tr>
                <td style="text-align: left;" colspan="5">
                  <p><strong>Observações:</strong></p>
                  {{ form.observacoes }}
                </td>
              </tr>
              <tr>
                <td colspan="3"><strong>Subtotal</strong></td>
                <td style="text-align: right;"><strong>R$ {{ pedido_total|currency_display }}</strong></td>
                <td style="text-align: center;">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3"><strong>Tributos</strong></td>
                <td style="text-align: right;"><strong>R$ {{ pedido_total|tributos|currency_display }}</strong></td>
                <td style="text-align: center;">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td style="text-align: right;"><strong>R$ {{ pedido_total|total_com_tributos|currency_display }}</strong></td>
                <td style="text-align: center;"><button class="btn btn-rounded btn-success m-3" value="Atualizar"><i class="fa fa-floppy-o"></i> Atualizar</button></td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>

        <div class="invoice--footer">
          <div class="invoice--actions">
            <a href="{% url 'product_list' %}" class="btn btn-rounded btn-outline-secondary">Continuar adicionando</a>
            <a href="{% url 'pedido_checkout' pk=pedido.pk %}" class="btn btn-rounded btn-info">Finalizar</a>
          </div>
        </div>
      </div>
      <!-- Invoice End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}
