{% extends "base.html" %}
{% load static %}
{% load core_extras %}

{% block title %}Pedido em aberto - S.I.E.{% endblock %}
{% block page-title %}Pedido{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="#">Pedidos</a></li>
  <li class="breadcrumb-item active"><span>Atualizar</span></li>
{% endblock %}

{% block content %}
  <!-- Main Content Start -->
  <section class="main--content">

    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ form.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if formset.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ formset.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="panel">
      <!-- Invoice Start -->
      <div class="invoice">

        <div class="invoice--header">
          <div class="invoice--logo">
            <img src="https://cnczumaq.com/newsletter/img/zumaq-logo-mail.png" alt="CNC Zumaq">
          </div>

          <div class="invoice--address">
            <h5 class="h5">CNC Zumaq</h5>

            <p>Rua: Viena, 150 / 152 • Utinga</p>
            <p>Santo André • SP • CEP: 09220-700</p>
            <p>Telefone: (11) 3969-7997</p>
          </div>
        </div>

        <div class="invoice--billing">
          <div class="invoice--address">
            <h3 class="h3"><span>Pedido: P{{ pedido.created.year }}-{{ pedido.parceiro_id }}/{{ pedido.pk }}</span></h3>

            <h5 class="h5">{{ pedido.parceiro }}</h5>

            <p>{{ pedido.parceiro }}</p>
            <p>{{ pedido.parceiro.email }}</p>
            <p>Telefone: </p>
          </div>

          <div class="invoice--info">
            <h5 class="h5"><span>Status:</span> {{ pedido.get_status_display }}</h5>
            <p>Data: <strong>{{ pedido.created }}</strong></p>
            <p>Atualizado: <strong>{{ pedido.modified }}</strong></p>
          </div>
        </div>

        <form action="{% url 'pedido_separacao' pk=pedido.pk %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="invoice--order">
            {{ formset.management_form }}
            <table class="table">
              <thead>
              <tr>
                <th>Produto</th>
                <th>Qtd</th>
                <th>Nota</th>
                <th>Imagem</th>
                <th>Separado</th>
              </tr>
              </thead>
              <tbody>
              {% for item_pedido_form in formset %}
                <tr>
                  {{ item_pedido_form.id }}{{ item_pedido_form.item }}
                  {% if item_pedido_form.instance.atacado == True %}
                    <td>{{ item_pedido_form.instance.item }} <span class="label label-blue">Atacado</span></td>
                    <td style="text-align: center;">{{ item_pedido_form.instance.quantidade }}
                      <div style="display: none">{{ item_pedido_form.quantidade }}</div>
                    </td>
                  {% else %}
                    <td>{{ item_pedido_form.instance.item }}</td>
                    <td style="text-align: center;">{{ item_pedido_form.instance.quantidade }}</td>
                  {% endif %}
                  <td style="text-align: center;">{{ item_pedido_form.separado_nota }}</td>
                  <td style="text-align: center;">{{ item_pedido_form.separado_imagem }}</td>
                  <td style="text-align: center;">{{ item_pedido_form.separado }}</td>
                </tr>
              {% endfor %}

              {% if pedido.observacoes %}
                <tr>
                  <td colspan="5" style="text-align: left;">
                    <p><strong>Observações:</strong></p>
                    {{ pedido.observacoes }}
                  </td>
                </tr>
              {% endif %}

              </tbody>
            </table>
          </div>

          <div class="row invoice--footer">
            <div class="col-md-4 ml-auto">
              <!-- Panel Start -->
              <div class="panel">
                <div class="panel-heading">
                  <h3 class="panel-title">Pedido completamente separado</h3>
                </div>

                <div class="panel-content panel-about" style="padding: 16px 20px;">
                  <table>
                    <tr>
                      <th>
                        <span class="label-text">{{ form.separado.label }}</span>
                        Marcar o pedido como completamente separado.
                      </th>
                      <td style="width: 50px;">
                        {{ form.separado }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Panel End -->
            </div>
          </div>

          <div class="invoice--footer">
            <div class="invoice--actions">
              <a href="{% url 'pedidos_list_separacao' %}" class="btn btn-rounded btn-outline-secondary">Cancelar</a>
              <button class="btn btn-rounded btn-success" value="Atualizar"><i class="fa fa-floppy-o"></i>Atualizar
              </button>
            </div>
          </div>

        </form>
      </div>
      <!-- Invoice End -->
    </div>
  </section>
  <!-- Main Content End -->
{% endblock %}
